<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.edudroid.ictpluginsample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="false">
        
        <receiver android:name="hu.edudroid.ict.BootingBroadcastReceiver">  
    		<intent-filter>  
        		<action android:name="android.intent.action.BOOT_COMPLETED" />  
    		</intent-filter>  
		</receiver>

		<receiver
            android:name="hu.edudroid.ictpluginsample.SamplePlugin"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="hu.edudroid.ict.plugin_polling_question"/>
            </intent-filter>
            <intent-filter>
                <action android:name="hu.edudroid.ict.plugin.callmethod" />
            </intent-filter>
        </receiver>
        
        
        <activity
            android:name="hu.edudroid.ictpluginsample.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="hu.edudroid.ictpluginsample.EventService"></service>
        <activity android:name="hu.edudroid.ictpluginsample.LimitSettingActivity"></activity>
    </application>
</manifest>