*.class

# Package Files #
*.jar
*.war

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

# App engine generated #
war/WEB-INF/appengine-generated/