*.class

# Package Files #
*.war

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy, something was missing... # 
# war/WEB-INF/deploy/
# war/WEB-INF/classes/

# App engine generated #
war/WEB-INF/appengine-generated/