<div id="contents">
	<div class="features">
		<div>
			<h1>Közösségi érzékelés</h1>
			<p>
				A közösségben rejlő lehetőségeket az Internet terjedésével egyre több célra és módon használják fel. Az egyik első nagy érdeklődéssel övezett ilyen alkalmazás a SETI@home volt.
				Ma a legtöbbet használt közösségi erőforrásokra épülő alkalmazás a torrent alapú file-megosztás, és a Wikipedia. <br/>
				A közösségi érzékelés ezen alkalmazásoknak egy speciális részhalmaza, amikor a résztvevők az őket övező világról osztanak meg strukturált információt.
				Így épül az OpenStreetMap, de nem szabad megfeledkeznünk az Időképről sem, ami országos meteorológiai jelentéseit önkéntes mérőállomások adataiból készíti.
			</p>
		</div>
		<div>
			<img style="width: 180px;" src="/static/images/smartphone.png" alt="Img">
			<h2>Okostelefon, az ideális szenzor</h2>
			<p>
			A közösségi érzékelés előtt az okostelefonok térnyerésével egy újabb platform nyílt meg, mely a korábbiaknál sokkal szélesebb körben, sokkal közvetlenebb adatgyűjtést tesz lehetővé.
			</p>
			<p>
				Egy korszerű okostelefon nem csak különböző szenzorokkal van felvértezve, de mobil is, és rendelkezik rövid hatótávolságú Bluetooth, közepes hatótávolságú WiFi, és az országot szinte teljesen lefedő 2G/3G cella alapú kommunikációs lehetőségekkel.
				Mivel a szenzoros alkalmazásoknál általában a számítási teljesítmény és memória nem elsődleges szempont, a csomópontok szerepét egy középkategóriás eszköz is betöltheti.  
			</p>
			<h2>Az Android platform előnyei</h2>
			<p>
				A három elterjedt okostelefon platform (IOS, Android, Windows Phone) közül az Android több szempontból is kiemelkedő. A széles felhasználói tábora mellett a másik nagy előnye a programozhatósága.
				Az android platform logikájába jól illeszkedik az a moduláris felépítés, ami lehetővé teszi, hogy minden telepítés a felhasználó igényeihez és az eszköz lehetőségeihez igazodjon.				
			</p>
		</div>
	</div>
</div>