<div id="contents">
	<div class="features">
		<div>
			A DroidLab keretrendszert azért hoztuk létre, mert az okostelefonokra irányuló kutatásaink során egyre gyakrabban szembesültünk azzal, hogy ugyanazokat a feladatokat implementáljuk újra és újra.<br/>
			A mérőalkalmazások funkcionalitása, és ennek megfelelően az implementációk és az infrastruktúra nagymértékben átfedték egymást. 
		</div>
		<div>
			<img src="/static/images/recycle.png" alt="Img">
			<h2>A keretrendszer felépítése</h2>
			<p>
				A DroidLab két fő elemből áll, az AppEngine felhőben futó szerver komponenséből és a felhasználók eszközeire telepített kliensalkalmazásból.
			</p>
			<h3>DroidLab kliens</h3>
			<p>
				A DroidLab kliens több Android alkalmazásból áll. Ez a megközelítés teszi lehetővé, hogy a felhasználók a DroidLab telepítésüket saját preferenciáikhoz és az eszköz képességeihez szabhassák.<br/>
				A felhasználók a DroidLab core Android alkalmazáson keresztül férhetnek hozzá a DroidLab-hoz, a többi alkalmazás csak háttér-szolgáltatásokat biztosít a mérésekhez.
				A core alkalmazás lehetőséget biztosít a felhasználóknak a mérések engedélyezésére vagy visszautasítására, a mérések adatainak megtekintésére.
				Itt állíthatják be a környezet számára rendelkezésére bocsájtott erőforrások is.
			</p>
			<h3>DroidLab portál</h3>
			<p>
				A rendszer használatához a felhasználónak regisztrálnia kell a <a href="droidlabportal.appspot.com" target="_blank">DroidLab portálon</a>.
				A portál felhasználói át tudják tekinteni az eszközeik aktivitását, futtatott méréseket, feltöltött mérési adatokat.<br/>
				A kutatói szerepkörrel rendelkező felhasználók ezen felül méréseket ütemezhetnek a többi felhasználó eszközeire, és megkapják a méréseik kimeneteit.
			</p>
		</div>
		<div>
			<img src="/static/images/box-of-icons.png" alt="Img">
			<h2>Modularitás</h2>
			<p>
				Wix also offers a ton of free design elements right inside the editor, like images, icons, galleries, videos and large selection of Add Ons and social feeds.
			</p>
			<h2>Free to Use</h2>
			<p>
				Publish your Free Website in minutes! You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
			</p>
		</div>
	</div>
</div>