<div id="mainImage">
	<div class="clearfix">
		<img src="/static/images/box.png" alt="Img" height="342" width="368">
		<div>
			<h1>DroidLab</h1>
			<h2>Közösségi érzékelés egyszerűen.</h2>
			<p>
				A DroidLab keretrendszer segítségével mérő alkalmazások telepíthetőek a résztvevő készülékekre, nyomon követhető a futás, és elérhetőek a végeredmények.
				Csatlakozzon kutatóként vagy résztvevőként a DroidLab-hoz!
				<span><a href="http://droidlabportal.appspot.com/regform" class="btn">Regisztráció</a>
				<b>Nyílt béta</b></span>
			</p>
		</div>
	</div>
</div>	
<div id="contents-under-adbox">
	</div>	<div id="tagline" class="clearfix">
		<h1>A DroidLab-ról dióhéjban</h1>
		<div>
			<p>
				A DroidLab keretrendszer olyan kutatóknak készül, akik Android eszközök szélesebb körén szeretnének méréseket végezni.
				A keretrendszert úgy készítettük el, hogy azok számára is elérhetővé tegye az Android platform lehetőségeit, akik nem jártasak annak programozásában.
			</p>
			<p>
				A keretrendszer leveszi a kutatók válláról az Android alkalmazás fejlesztésének, terjesztésének terhét, így számukra az egyetlen feladat a mérő-alkalmazás elkészítése.
				A keretrendszer gondoskodik a mérőkód terjesztéséről, futtatásáról és a generált kimenet összegyűjtéséről.
			</p>
		</div>
	</div>
</div>