<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.edudroid.ict_plugin_battery"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="false">
        
		<receiver
            android:name="BootListener"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
		<receiver
            android:name="ScreenListener"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
            </intent-filter>
            		</receiver>
    		<receiver
            android:name="BatteryListener"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="hu.edudroid.ict.plugin_polling_question"/>
            </intent-filter>
            <intent-filter>
                <action android:name="hu.edudroid.ict.plugin.callmethod" />
            </intent-filter>
  			<intent-filter>
  			    <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
  			</intent-filter>
  			<intent-filter>
    			<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
  			</intent-filter>
  			<intent-filter>
    			<action android:name="android.intent.action.BATTERY_CHANGED"/>
  			</intent-filter>
		</receiver>
		
		<activity android:name="BatteryPluginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		<service android:name="BatteryService"></service>
	</application>
</manifest>