<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>hu.edudroid.droidlabportal.RegisterUserServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RegisterDevice</servlet-name>
		<servlet-class>hu.edudroid.droidlabportal.RegisterDeviceServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>hu.edudroid.droidlabportal.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SignOut</servlet-name>
		<servlet-class>hu.edudroid.droidlabportal.SignOutServlet</servlet-class>
	</servlet>

	<servlet>
	    <servlet-name>index</servlet-name>
	    <jsp-file>/jsp/index.jsp</jsp-file>
	</servlet>

	<servlet>
	    <servlet-name>details</servlet-name>
	    <jsp-file>/jsp/details.jsp</jsp-file>
	</servlet>
		<servlet>
	    <servlet-name>team</servlet-name>
	    <jsp-file>/jsp/team.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>contact</servlet-name>
	    <jsp-file>/jsp/contact.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>news</servlet-name>
	    <jsp-file>/jsp/news.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>regform</servlet-name>
	    <jsp-file>/jsp/regform.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>loginform</servlet-name>
	    <jsp-file>/jsp/loginform.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>userhome</servlet-name>
	    <jsp-file>/jsp/userhome.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>devices</servlet-name>
	    <jsp-file>/jsp/devices.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>device</servlet-name>
	    <jsp-file>/jsp/device.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>module</servlet-name>
	    <jsp-file>/jsp/module.jsp</jsp-file>
	</servlet>
		<servlet>
	    <servlet-name>profile</servlet-name>
	    <jsp-file>/jsp/profile.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>uploadmodule</servlet-name>
	    <jsp-file>/jsp/uploadmodule.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>results</servlet-name>
	    <jsp-file>/jsp/results.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>measurement</servlet-name>
	    <jsp-file>/jsp/measurement.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>modules</servlet-name>
	    <jsp-file>/jsp/modules.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>users</servlet-name>
	    <jsp-file>/jsp/users.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>post</servlet-name>
	    <jsp-file>/jsp/post.jsp</jsp-file>
	</servlet>
	
	<servlet>
	    <servlet-name>registerplugin</servlet-name>
	    <jsp-file>/jsp/test/RegisterNewPlugin.jsp</jsp-file>
	</servlet>
	<servlet>
	    <servlet-name>listregisteredplugins</servlet-name>
	    <jsp-file>/jsp/test/ListRegisteredPlugins.jsp</jsp-file>
	</servlet>
	
	
	
	
	
	
	
	<servlet>
		<servlet-name>UnregisterDeviceServlet</servlet-name>
		<servlet-class>hu.edudroid.droidlabportal.mobileinterface.UnregisterDeviceServlet</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>GetLogUrlServlet</servlet-name>
    	<servlet-class>hu.edudroid.droidlabportal.mobileinterface.GetLogUrlServlet</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>UploadLogServlet</servlet-name>
    	<servlet-class>hu.edudroid.droidlabportal.mobileinterface.UploadLogServlet</servlet-class>
  	</servlet>
  	<servlet>
    	<servlet-name>ServeModuleServlet</servlet-name>
    	<servlet-class>hu.edudroid.droidlabportal.mobileinterface.ServeModuleServlet</servlet-class>
  	</servlet>
  	<servlet>
    	<servlet-name>GCMBroadcast</servlet-name>
    	<servlet-class>hu.edudroid.droidlabportal.mobileinterface.GCMBroadcast</servlet-class>
  	</servlet>
  	<servlet>
    	<servlet-name>GetRegisteredPluginsServlet</servlet-name>
    	<servlet-class>hu.edudroid.droidlabportal.mobileinterface.GetRegisteredPluginsServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>ServeLogServlet</servlet-name>
    	<servlet-class>hu.edudroid.droidlabportal.serverinterface.ServeLogServlet</servlet-class>
  	</servlet>
  	<servlet>
    	<servlet-name>UploadModuleServlet</servlet-name>
    	<servlet-class>hu.edudroid.droidlabportal.serverinterface.UploadModuleServlet</servlet-class>
  	</servlet>
  	<servlet>
    	<servlet-name>RegisterNewPluginServlet</servlet-name>
    	<servlet-class>hu.edudroid.droidlabportal.serverinterface.RegisterNewPluginServlet</servlet-class>
  	</servlet>
  	<servlet>
    	<servlet-name>ChangeUserRoleServlet</servlet-name>
    	<servlet-class>hu.edudroid.droidlabportal.serverinterface.ChangeUserRoleServlet</servlet-class>
  	</servlet>
	
	
	
	
	
	
	
			<!--mapping-->
	<servlet-mapping>
		<servlet-name>registerplugin</servlet-name>
		<url-pattern>/registernewplugin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listregisteredplugins</servlet-name>
		<url-pattern>/listregisteredplugins</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnregisterDeviceServlet</servlet-name>
		<url-pattern>/unregisterdevice</url-pattern>
	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>UploadLogServlet</servlet-name>
    	<url-pattern>/uploadLog</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
   	 	<servlet-name>GetLogUrlServlet</servlet-name>
    	<url-pattern>/getLogUrl</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>ServeLogServlet</servlet-name>
    	<url-pattern>/serveLog</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>UploadModuleServlet</servlet-name>
    	<url-pattern>/uploadModule</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>ServeModuleServlet</servlet-name>
    	<url-pattern>/serveModule</url-pattern>
  	</servlet-mapping>	
  	<servlet-mapping>
    	<servlet-name>GCMBroadcast</servlet-name>
    	<url-pattern>/GCMBroadcast</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>RegisterNewPluginServlet</servlet-name>
    	<url-pattern>/registerPlugin</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>GetRegisteredPluginsServlet</servlet-name>
    	<url-pattern>/getRegisteredPlugins</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>ChangeUserRoleServlet</servlet-name>
    	<url-pattern>/changeuserrole</url-pattern>
  	</servlet-mapping>
  			
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/registeruser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterDevice</servlet-name>
		<url-pattern>/registerdevice</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignOut</servlet-name>
		<url-pattern>/signout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
	    <url-pattern>/index</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>details</servlet-name>
	    <url-pattern>/details</url-pattern>   
	</servlet-mapping>
		<servlet-mapping>
	    <servlet-name>team</servlet-name>
	    <url-pattern>/team</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>contact</servlet-name>
	    <url-pattern>/contact</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>news</servlet-name>
	    <url-pattern>/news</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>regform</servlet-name>
	    <url-pattern>/regform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>loginform</servlet-name>
	    <url-pattern>/loginform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>userhome</servlet-name>
	    <url-pattern>/userhome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>devices</servlet-name>
	    <url-pattern>/devices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>device</servlet-name>
	    <url-pattern>/device</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>module</servlet-name>
	    <url-pattern>/module</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>profile</servlet-name>
	    <url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>post</servlet-name>
	    <url-pattern>/post</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>uploadmodule</servlet-name>
	    <url-pattern>/uploadmodule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>results</servlet-name>
	    <url-pattern>/results</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>measurement</servlet-name>
	    <url-pattern>/measurement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>modules</servlet-name>
	    <url-pattern>/modules</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>users</servlet-name>
	    <url-pattern>/users</url-pattern>
	</servlet-mapping>
					
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
</web-app>
