<div id="contents">
	<div class="features">
		<div>
			A DroidLab keretrendszert azért hoztuk létre, mert az okostelefonokra irányuló kutatásaink során egyre gyakrabban szembesültünk azzal, hogy ugyanazokat a feladatokat implementáljuk újra és újra.<br/>
			A mérőalkalmazások funkcionalitása, és ennek megfelelően az implementációk és az infrastruktúra nagymértékben átfedték egymást. A mérések során 
		</div>
		<div>
			<img src="/static/images/recycle.png" alt="Img">
			<h2>A keretrendszer felépítése</h2>
			<p>
				A DroidLab két fő elemből áll, az AppEngine felhőben futó szerver komponenséből és a felhasználók eszközeire telepített kliensalkalmazásból.
			</p>
			<h3>DroidLab kliens</h3>
			<p>
				A DroidLab kliens 
			</p>
			<h3>Online in an Instant</h3>
			<p>
				Wix is an online website builder with a simple drag & drop interface, meaning you do the work online and instantly publish to the web. All Wix templates are fully customizable and free to use. Just pick one you like, click Edit, and enter the online editor.
			</p>
		</div>
		<div>
			<img src="/static/images/box-of-icons.png" alt="Img">
			<h2>More Design Elements</h2>
			<p>
				Wix also offers a ton of free design elements right inside the editor, like images, icons, galleries, videos and large selection of Add Ons and social feeds.
			</p>
			<h2>Free to Use</h2>
			<p>
				Publish your Free Website in minutes! You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
			</p>
		</div>
	</div>
</div>