<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.edudroid.ictpluginwifi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="hu.edudroid.ictpluginwifi.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
	    <service
	        android:name="hu.edudroid.ictpluginwifi.PluginService"
	        android:enabled="true"
	        android:process=":remote"/>
        
        <receiver
            android:name="hu.edudroid.ictpluginwifi.PluginReportReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="hu.edudroid.ict.plugin_polling_question"/>
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="hu.edudroid.ictpluginwifi.PluginCallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="hu.edudroid.ict.plugin.callmethod" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>